.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px 50px 50px 50px;
}



.btnGroup {
    display: flex;
    justify-content: right;
    margin-top: 40px;
    gap: 2px;
}

.btn {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.resume {
    background-color: #ffffff;
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
    box-shadow: 2px 2px #b3b3b3, -2px -2px #b3b3b3 ;
    margin: 10px 0;
}

.resume:hover {
    background-color: hsl(0, 0%, 70%);
}