.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job {
    position: relative;
    max-width: 800px;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 1px 1px #b3b3b3, -1px -1px #b3b3b3 ;
    overflow: auto;
}

.starContainer {
    position: absolute;
    padding: 0;
    bottom: 0;
    right: 0;
}

.star:hover {
    fill: yellow;
    cursor: pointer;
}


.coverPhoto {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 50px;
    object-fit: cover;
}